<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Hexlet</title>
</head>

{% with success = get_flashed_messages(category_filter=["success"]) %}
{% if success %}
<div class="alert alert-success" role="alert">{{ success[0] }}</div>
{% endif %}
{% endwith %}

{% with error = get_flashed_messages(category_filter=["error"]) %}
{% if error %}
<div class="alert alert-danger" role="alert">{{ error[0] }}</div>
{% endif %}
{% endwith %}

<body>
  <div class="row">
    <h1 class="display-3">Пользователи</h1>
    <form action="{{ url_for('users_get') }}" method="get" class="d-flex justify-content-center">
      <label for="text" class="visually-hidden">search</label>
      <input type="search" name="term" placeholder="Начните вводить имя" value="{{ search }}"
        class="form-control form-control-lg" required>
      <input type="submit" value="Search" />
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
      {% for user in filtred_users %}
      <tr>
        <td>
          {{ user }}
        </td>
        {% endfor %}
    </table>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
</body>

</html>