{% extends "index.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}
<form action="{{ url_for('post_users') }}" method="post">
    <div>
      <label>
        Имя
        <input type="text" name="name" value="{{ user.name }}">
      </label>
      {% if errors['name'] %}
        <div>{{ errors['name'] }}</div>
      {% endif %}
    </div>
    <div>
      <label>
        Email
        <input type="email" required name="email" value="{{ user.email }}">
      </label>
      {% if errors['email'] %}
        <div>{{ errors['email'] }}</div>
      {% endif %}
      </div>
    <div>
    <input type="submit" value="Sign Up">
  </form>
{% endblock %}