{% extends "index.html" %}

{% block alert %}
{% with success = get_flashed_messages(category_filter=["success"]) %}
{% if success %}
<div class="alert alert-success" role="alert">{{ success[0] }}</div>
{% endif %}
{% endwith %}

{% with error = get_flashed_messages(category_filter=["error"]) %}
{% if error %}
<div class="alert alert-danger" role="alert">{{ error[0] }}</div>
{% endif %}
{% endwith %}
{% endblock %}

  {% block content %}
  <div class="row">
    <a href="{{ url_for('index') }}">Главная</a>
    <a href="{{ url_for('users_get') }}"><h1 class="display-3">Пользователи</h1></a>
    <form action="{{ url_for('users_get') }}" method="get" class="d-flex justify-content-center">
      <label for="text" class="visually-hidden">search</label>
      <input type="search" name="term" placeholder="Начните вводить имя" value="{{ search|default('')}}"
        class="form-control form-control-lg" required>
      <input type="submit" value="Search" />
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
      {% for user in filtred_users %}
      <tr>
        <td>
          {{ user.name }}
          <form action="{{ url_for('users_clean' , id=user.id) }}" method="POST"><input type="submit" value="Удалить пользователя"></form>
        </td>
        {% endfor %}
    </table>
    {% endblock %}